card-div{
    width: 8rem;
    height: 8rem;

}

image{
    height:80%;
}
.category-card{
    width: 7rem;
    min-height: 5rem;
    cursor:pointer;
    border-radius:10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8); 
    margin-left:50px;
    display: flex;                 
    align-items: center;           
    justify-content: center;   
    opacity:0.9; 
 

}
.category-card:hover {
    opacity:0.7;
}

.category-card p{
   font-size:15px;
   color:white;
   font-weight:bolder;
   margin-bottom:0px;
   /* margin-left:50px; */
   text-align: center;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}

