
.menu-list{
  display:flex;
  flex-wrap:wrap;
  gap:30px;
  justify-content:space-around; 
}
.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    max-width: 300px;
    width:200px;
    max-height:200px;
    margin: 10px;
    text-align: center;
    padding-bottom:5px;
  }
  
  .card-item img{
    width: 100%;
    max-height:105px;
    object-fit: cover;
    margin-bottom:0px;

  }
  .card-heading{
    padding-top:0px;
    margin-top:0px;
    font-size:14px;
    margin-bottom:0px;
  }
 
  .card-description{
    font-size:12px;
    margin-bottom:1px;
  }
  .card-price{
    font-size:14px;
    color:#E6563B;
    font-weight:bold;
  }
 .card-action{
    display:flex;
    justify-content:space-between;
 }
 .button-size-menu{
    font-size:12px;
    height:20px;
    padding:1px;
    padding-right:3px;
    padding-left:3px;
 }